# this is the requirements.txt file...

#
# DEVELOPMENT / PRODUCTION
#

python-dotenv
pgeocode
pandas
requests
sendgrid==6.6.0


Flask

# heroku needs to use this package to run our web app on the server
gunicorn


#
# TEST
#

pytest
